*{margin:0 auto; padding:0;}
a{text-decoration:none;}
.container{width:1100px; height:62px; background-color:#2a2e33; color:ffd700;}
.logo{width:500px; height:62px; background-image:url(../images/png/logo.png); background-color:#2a2e33; float:left;}
.ss{width:104px; height:62px; font-size:14px; font-family:"Times New Roman"; float:left; border-top-color:#f4ce02; border-top-style:solid; border-top-width:5px; 
   background-color:#1e2329; display:block; color:#ffd700; box-sizing:border-box; text-align:center; line-height:48px;}
.st{width:72px; height:62px; font-size:14px; font-family:"Times New Roman"; float:left;
display:block; color:#ffd700; line-height:58px;background-color:#2a2e33; text-align:center; line-height:58px;}
.an{width:145px; height:62px; font-size:14px; font-family:"Times New Roman"; float:left;
display:block; color:#ffd700; background-color:#2a2e33; text-align:center; line-height:58px;}
.ce{width:120px; height:62px; font-size:14px; font-family:"Times New Roman"; float:left;
display:block; color:#ffd700; background-color:#2a2e33; text-align:center; line-height:58px;}
.cu{width:117px; height:62px; font-size:14px; font-family:"Times New Roman"; float:left;
display:block; color:#ffd700; background-color:#2a2e33; text-align:center; line-height:58px;}

.lby{width:1100px; height:288px; background-image:url(../images/png/lobby.png);}

.bg{width:1100px; height:807px; background-image:url(../images/background/all.png);}
.blank{width:1100px; height:15px;}
.srt{font-size:28px; font-family:"Times New Roman"; text-align:center;}
.mrg{margin-left:40px;}
.fac{font-size:22px; font-family:"Arial";}


.yw{width:1100px; height:85px; background-color:#f4ce02; font-size:28px; font-family:"Times New Roman"; text-align:left;}
.pic{width:141px; height:160; position:alternate; float:right; margin-right:150px; margin-top:49px;}

.sh{font-size:17px; font-family:"Times New Roman";}

.rr{font-family:"Times New Roman"; text-align:left;}

.last{width:1100px; height:140px; background-image:url(../images/other/last.png);}

.copy{text-align:center; background-color:#1e2329; font-size:18px; color:#f4ce02; width:1100px;}
