#exp{opacity:0.1;}
#exp:hover{opacity:1;}
*{margin:0px;padding:0px;}
.container-fluid{background-color:orange;}
.content{padding:0 65px;}
.content0{padding:10px 150px 0 0;}
.about{height:800px;background-color:white; color:#6f6c73; background-repeat:no-repeat; background-image:url(background_about.png); text-align:center; padding-top:10px; position:relative;}
.services{background-color:#492f48; color:white; padding:100px 0 35px 0; }
.line{width:1px; display:inline-block; height:165px; background-color:#805c7c;}
.mid-row{background-color:#29233b;   border-top:1px solid #623f5d; border-bottom:1px solid #623f5d; margin-top:25px;}

.blocks{backgroun-color:#F30;text-align:center; transition:transform 0.2s; text-align:center; padding:3% 0;}
/*.anim{background:red;transition:transform 0s; text-align:center; padding:25.5%; border-left:solid black 1px;z-index:9999;}*/
.blocks:first-child{border-left-width:0;}
/*.anim:hover{  background: -webkit-linear-gradient(left bottom, #f34d5b, #fa7b52, #f34d5b);background: -o-linear-gradient(left bottom, #f34d5b, #fa7b52, #f34d5b);background: -moz-linear-gradient(left bottom, #f34d5b, #fa7b52, #f34d5b);background: linear-gradient(to left bottom, #f34d5b, #fa7b52, #f34d5b );border-radius:1.7px;border:0; transform:scale(1,1.3); z-index:999;  transition:transform 1s; border-width:0 0 0 0;}
*/
#bor1{  border-left:1px solid #805c7c;}
#bor2{  border-left:1px solid #805c7c;}
#bor3{  border-left:1px solid #805c7c;}
.blocks:hover{  background: -webkit-linear-gradient(left bottom, #f34d5b, #fa7b52, #f34d5b);background: -o-linear-gradient(left bottom, #f34d5b, #fa7b52, #f34d5b);background: -moz-linear-gradient(left bottom, #f34d5b, #fa7b52, #f34d5b);background: linear-gradient(to left bottom, #f34d5b, #fa7b52, #f34d5b );border-radius:1.7px;border:0; transform:scale(1.3); z-index:1;  border-width:0 0 0 0;}

#txtx{width:60%; text-align:center; margin-left:25%; margin-top: -30px;}
#img2{position: absolute; left: 79%;top: 157px;display:block;}
#img3{position:absolute;left: 12%;display:block;}
#txt1{position: absolute; left: 25.5%;text-align: left; top: 124%;display:block;}
#img4{    position: absolute; left: 46%; top: 124%;display:block;}
#txt2{position: absolute; left: 62%;text-align: left; top: 153%;display:block;}
#img5{    position: absolute; left: 17%; top: 189%;display:block;}
#txt3{position: absolute; left: 34%;text-align: left; top: 223%;display:block;}
#img6{    position: absolute; left: 67%; top: 237%;display:block;}
#txt4{position: absolute; left: 81%;text-align: left; top: 265%;display:block;}
/*.btn-rounded{border-radius:38px; background-color:#7c4073; color:white; padding:2% 0; width:300px; height:58px; font-size:25px;}*/
@media (min-width:768px) and (max-width:992px){.line{width:100%; height:1px;} .services{padding:35px 0 35px 0; } #bor2{border:0;} #bor1{border:0;} #bor3{border:0;} .blocks:hover{transform:scale(1.1);}
}
@media (max-width:767px){.line{display:none;} .services{padding:30px 0 35px 0; } #bor2{border:0;} #bor1{border:0;} #bor3{border:0;}.blocks{backgroun-color:#F30;text-align:center; transition:transform 0s;} .blocks:hover{  transform:scale(1);}

@media (max-width:1100px){#img3{position:absolute;left: 0%;display:block;}#txt2{left:63%;text-align: left;top: 194%;display: block;}}
@media (max-width:1100px){#img4{position:absolute;left: 36%; top: 164%;display:block;}#txt3{left:34%;text-align: left;top: 262%;display: block;}}
@media (max-width:1100px){#img5{left: 4%; top: 226%;}}
@media (max-width:1100px){#img6{left: 39%; top: 312%;}#txt4{left:66%;text-align: left;top: 337%;display: block;}} 


@media (max-width:760px){#img3{position:absolute;left: 0%;display:block;}#txt2{left:63%;text-align: left;top: 194%;display: block;}}
@media (max-width:760px){#img4{position:absolute;left: 36%; top: 164%;display:block;}#txt3{left:34%;text-align: left;top: 262%;display: block;}}
@media (max-width:760px){#img5{left: 4%; top: 226%;}}
@media (max-width:760px){#img6{left: 39%; top: 312%;}#txt4{left:66%;text-align: left;top: 337%;display: block;}} 
	
@media (max-width:685px){#img3{position:absolute;left: 12%;display:block;}#txt1{display:none;}#img2{display:none;}#img1{display:none;}}
@media (max-width:685px){#img4{position:absolute;left: 12%;top: 250%;display:block;}#txt2{display:none;}}
@media (max-width:685px){#img5{position:absolute;left: 12%;top: 420%;display:block;}#txt3{display:none;}}
@media (max-width:685px){#img6{position:absolute;left: 12%;top: 610%;display:block;}#txt4{display:none;}} 
@media (max-width:685px){#txtx{}}

@media (max-width:460px){#img1{display:none;}}
@media (max-width:460px){#img2{display:none;}}


@media (max-width:460px){#img3{position:absolute;left: 12%;display:block;}#txt1{display:none;}}
@media (max-width:460px){#img4{position:absolute;left: 12%;top: 250%;display:block;}#txt2{display:none;}}
@media (max-width:460px){#img5{position:absolute;left: 12%;top: 420%;display:block;}#txt3{display:none;}}
@media (max-width:460px){#img6{position:absolute;left: 12%;top: 610%;display:block;}#txt4{display:none;}} 
@media (max-width:460px){#txtx{display:none;}}
@media (max-width:460px){#img1{display:none;}}
@media (max-width:460px){img2{display:none;}}

