*{padding: 0; margin: 0 auto; text-align: center;}
ul{list-style: none;}
a{text-decoration: none;
color:yellow; }
.container{width:90%; max-width:1150px; margin: 0 auto;}
.logo{background-image: url(images/logo.png);
    text-indent: -9999pt; background-repeat: no-repeat;}
header{ background: black; padding: 20px 0; }
header h1{margin: 0; text-indent: -10000px; width: 350px;float: left;}
header nav{float: right;}
.nav1 {
    float: right;
    font-family: AFLight,Helvetica,Arial,sans-serif;
    font-size: 20px;
    line-height: 20px;
    margin-top: 10px;
}
.nav1 > span {
    font-family: 'Neue Helvetica W02', sans-serif;
    margin-left: 16px;
}
header nav{float: right;}
header:after{
    
    display: block;
    content: "";
    clear: both;
}
header nav h2{
    line-height: 0;
    margin: 0;
    text-indent: -10000px;
}
header nav li{
    list-style: none;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    
}

header nav li a{
    text-decoration: none;
    color: #4e4e4e;
    text-transform: uppercase;
    font-weight: bold;
    
}
header nav li a.current{
    color:#1aab9c;    
}
.slider img{
    width: 100%;
}
.slider{
    max-height: 339px;
    overflow: hidden;
    margin-top:20px;
}
.content{text-align: center;
background-color: azure;}

.content ul{display: inline-flex;}

.section{text-align: center;}
.section img{width: 100%;}
.section li{width:30%;
  min-height: 1px; float:left; padding: 10px;
}
.section ul{display:inline; width:90%;
}
.row{background-color: aqua; text-align: center; }
.row ul{ padding: 1px; margin: 0 auto;}
.row li{width:5%; padding:1px; }

footer li{width:25%;
  min-height: 1px; float:left;
}
footer ul{display:inline; width:90%;}
.clearfix:after{
    display: block;
    content: "";
    clear: both;
    
}
.bar{padding:40px; background-color: darkorange;}
.content{padding: 20pt 0;}
.content h2{}

@media only screen and (max-width: 600px) {
.section li{width:73%;
  min-height: 1px; float:left; padding: 10px;
}
    .section img{width: 100%;}
    .row li{width:5%; padding:1px; }

    .section li{margin-left:50px;}
    .row li{margin-left: 0}

}
